# This workflow will install Python dependencies, build the data with RDFox and build the jupyter-book

name: Build

on:
  push:
    branches: [ master, github_actions ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.config.os }}

    strategy:
      matrix:
        python-version: [3.8]
        config:
          - os: ubuntu-latest
            url: https://rdfox-distribution.s3.eu-west-2.amazonaws.com/release/v4.1.0/RDFox-linux-4.1.0.zip
            name: RDFox
            pathInArchive: RDFox-linux-4.1.0/RDFox

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install RDFox
      uses: engineerd/configurator@v0.0.6
      with:
        name: ${{ matrix.config.name }}
        url: ${{ matrix.config.url }}
        pathInArchive: ${{ matrix.config.pathInArchive }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
        poetry install
    - name: Convert data
      run: |
        poetry run doit run conversion
      env:
        RDFOX_LICENSE_CONTENT: ${{ secrets.RDFOX_LICENSE }}
        PROBS_DEBUG: 1
    - name: Build book
      run: |
        poetry run jupyter-book build docs
      env:
        RDFOX_LICENSE_CONTENT: ${{ secrets.RDFOX_LICENSE }}

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
